/*changes browser default styles*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*creates base font-size*/
html {
    font-size: 10px;
}

/*creates sizes for each heading and current date for searched city*/
h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem
}

h3 {
    font-size: 2.5rem;
}

h4,
#currentDay {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

/*styles the 5-day forecast content to the left of each card*/
.future {
    text-align: left;
    padding-left: 7px;
}

/*styles the search button*/
.btn {
    border: 2px solid rgba(2, 117, 216, 0.4);
}

